{{ define "main" }}
<div style="padding-bottom: 10%" class="container">
        <div class="row">
                <div class="col-sm-25 col-md-offset-25">
                        <article style="font-size: 1.25em;">
                                <h1>{{ .Title }}</h1>

                                {{ if .Date }}
                                <p>Posted in <time datetime="{{ .Date }}"></time>
                                        {{- .Date.Format "Monday, 2 January 2006" -}}
                                </time>.</p>
                                <br>
                                {{ end }}
                                {{ .Content }}
                        </article>
                 </div>
        </div>
</div>
{{ end }}