<div class="row">
  <nav class="navbar navbar-inverse navbar-static-top" role="navigation" bs-navbar>
      <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="color: #ffffff; margin-left: 15px; margin-right: 25px;">ggcarvalho.dev</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/" style="color: #ffffff">home<span class="sr-only">(current)</span></a></li>
            <li><a href="/resume.pdf" target="_blank" style="color: #ffffff">resume<span class="sr-only">(current)</span></a></li>
            <li><a href="http://lattes.cnpq.br/3130568408244521" target="_blank" style="color: #ffffff">lattes cv<span class="sr-only">(current)</span></a></li>
            <li><a href="/posts" style="color: #ffffff">blog posts<span class="sr-only">(current)</span></a></li>
          </ul>
        </div>
      </div>
  </nav>
</div>
