{{ define "main" }}
{{ $section := .Site.GetPage "section" .Section }}
<div class="container">
    <div class="row">
        <article>
            <header>
                <h1>
                    {{- .Title -}}
                </h1>
                <time datetime="{{ .Date }}">
                    {{- .Date.Format "January 2, 2006" -}}
                </time>
            </header>
            <section>
                {{- .Content -}}
                {{- partial "tags.html" . -}}
            </section>
        </article>
    </div>
</div>
{{ end }}